---
- name: "Configure Admin Local Access to Remote Cluster"
  shell: "kubectl config set-cluster kubernetes-the-hard-way \
            --certificate-authority=/tmp/certs/ca.pem \
            --embed-certs=true \
            --server=https://${kubernetes-public-adress}:6443; \
          kubectl config set-credentials admin \
            --client-certificate=/tmp/certs/admin.pem \
            --client-key=/tmp/certs/admin-key.pem; \
          kubectl config set-context kubernetes-the-hard-way \
            --cluster=kubernetes-the-hard-way \
            --user=admin; \
          kubectl config use-context kubernetes-the-hard-way "

