---
- name: "Copying Certificates to worker-0"
  when: inventory_hostname == "${worker-0-dns}"
  ansible.builtin.copy:
    src: "{{ item }}"    
    dest: "~/"
  with_items:
    - "/tmp/certs/ca.pem"
    - "/tmp/certs/worker-0-key.pem"
    - "/tmp/certs/worker-0.pem"

- name: "Copying Certificates to worker-1"
  when: inventory_hostname == "${worker-1-dns}"
  ansible.builtin.copy:
    src: "{{ item }}"    
    dest: "~/"
  with_items:
    - "/tmp/certs/ca.pem"
    - "/tmp/certs/worker-1-key.pem"
    - "/tmp/certs/worker-1.pem"

