---
- name: "Preparing temporary Certificates Directory"
  ansible.builtin.file:
    path: /tmp/certs
    state: directory  

- name: "Creating Certification Autority"
  shell: "cfssl gencert -initca /home/vagrant/on-demand-infra/certs/ca-csr.json | cfssljson -bare ca"

- name: "Copying Certification Autority Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /tmp/certs
  with_items: 
    - "ca.pem"
    - "ca-key.pem"

- name: "Generating Admin Client Certificates"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/admin-csr.json | cfssljson -bare admin"

- name: "Copying Admin Client Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: /tmp/certs
  with_items: 
    - "admin-key.pem" 
    - "admin.pem"

- name: "Generating Kubelet Certificates for worker-0"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -hostname=worker-0,${worker-0-ext-ip},${worker-0-int-ip} \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/worker-0-csr.json | cfssljson -bare worker-0"

- name: "Generating Kubelet Certificates for worker-1"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -hostname=worker-1,${worker-1-ext-ip},${worker-1-int-ip} \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/worker-1-csr.json | cfssljson -bare worker-1"

- name: "Copying Kubelet Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: /tmp/certs
  with_items: 
    - "worker-0-key.pem" 
    - "worker-0.pem"
    - "worker-1-key.pem" 
    - "worker-1.pem"


- name: "Generating Controller Manager Certificates"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kube-controller-manager-csr.json | cfssljson -bare kube-controller-manager"

- name: "Copying Controller Manager Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: /tmp/certs
  with_items: 
    - "kube-controller-manager-key.pem" 
    - "kube-controller-manager.pem" 

- name: "Generating Kube Proxy Certificates Certificates"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kube-proxy-csr.json | cfssljson -bare kube-proxy"

- name: "Copying Kube Proxy Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: /tmp/certs
  with_items: 
    - "kube-proxy-key.pem" 
    - "kube-proxy.pem" 

- name: "Generating Scheduler Certificates"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kube-scheduler-csr.json | cfssljson -bare kube-scheduler"

- name: "Copying Scheduler Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: /tmp/certs
  with_items: 
    - "kube-scheduler-key.pem" 
    - "kube-scheduler.pem"

- name: "Generating API Server Certificates"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -hostname=${api-server-ip},${controller-0-int-ip},${controller-1-int-ip},${kubernetes-public-adress},127.0.0.1,${kubernetes-hostnames} \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kubernetes-csr.json | cfssljson -bare kubernetes"

- name: "Copying API Server Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: /tmp/certs
  with_items: 
    - "kubernetes-key.pem" 
    - "kubernetes.pem" 

- name: "Generating Service Account Certificates"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/service-account-csr.json | cfssljson -bare service-account"

- name: "Copying Service Account Certificates into temporary directory"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: /tmp/certs
  with_items: 
    - "service-account-key.pem" 
    - "service-account.pem"

