---
- name: "Preparation d'un dossier temporaire pour stocker les fichiers de Configuration générés"
  ansible.builtin.file:
    path: /tmp/configs
    state: directory 

- name: "Création du fichier de Configuration pour le Kubelet"
  shell: "kubectl config set-cluster kubernetes-the-hard-way \
    --certificate-authority=ca.pem \
    --embed-certs=true \
    --server=https://${kubernetes-public-adress}:6443 \
    --kubeconfig=master-a.kubeconfig

  kubectl config set-credentials system:node:master-a \
    --client-certificate=master-a.pem \
    --client-key=master-a-key.pem \
    --embed-certs=true \
    --kubeconfig=master-a.kubeconfig

  kubectl config set-context default \
    --cluster=kubernetes-the-hard-way \
    --user=system:node:master-a \
    --kubeconfig=master-a.kubeconfig

  kubectl config use-context default --kubeconfig=master-a.kubeconfig"

- name: "Copie du fichier de Configuration dans un dossier temporaire"
  ansible.builtin.copy:
    src: "{{ item }}" 
    dest: "/tmp/configs"
  with_items: 
    - "service-account-key.pem" 
    - "service-account.pem"

