---
- name: "Copie des KubeConfig sur le worker-0"
  when: inventory_hostname == "${worker-0-dns}"
  ansible.builtin.copy:
    src: "{{ item }}"    
    dest: "~/"
  with_items:
    - "/tmp/configs/worker-0.kubeconfig"
    - "/tmp/configs/kube-proxy.kubeconfig"

- name: "Copie des KubeConfig sur le worker-1"
  when: inventory_hostname == "${worker-1-dns}"
  ansible.builtin.copy:
    src: "{{ item }}"    
    dest: "~/"
  with_items:
    - "/tmp/configs/worker-1.kubeconfig"
    - "/tmp/configs/kube-proxy.kubeconfig"

