---
- name: "Création d'une Autorité de Certification"
  shell: "cfssl gencert -initca /home/vagrant/on-demand-infra/certs/ca-csr.json | cfssljson -bare ca"

- name: "Génération du certificat Admin Client"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/admin-csr.json | cfssljson -bare admin"

- name: "Génération du certificat Client Kubelet"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -hostname=master-a,${master-a-ext-ip},${master-a-int-ip} \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/master-a-csr.json | cfssljson -bare master-a"

- name: "Génération du certificat du Control Manager"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kube-controller-manager-csr.json | cfssljson -bare kube-controller-manager"

- name: "Génération du certificat du client Kube Proxy"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kube-proxy-csr.json | cfssljson -bare kube-proxy"

- name: "Génération du certificat du client Scheduler"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kube-scheduler-csr.json | cfssljson -bare kube-scheduler"

- name: "Génération du certificat de l'API Server Kubernetes"
  shell: "cfssl gencert \
            -ca=ca.pem \
            -ca-key=ca-key.pem \
            -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
            -hostname=${api-server-ip},${master-a-int-ip},${kubernetes-public-adress},127.0.0.1,${kubernetes-hostnames} \
            -profile=kubernetes \
            /home/vagrant/on-demand-infra/certs/kubernetes-csr.json | cfssljson -bare kubernetes"

- name: "Génération de la paire de clé pour le Service Account"
  shell: "cfssl gencert \
  -ca=ca.pem \
  -ca-key=ca-key.pem \
  -config=/home/vagrant/on-demand-infra/certs/ca-config.json \
  -profile=kubernetes \
  /home/vagrant/on-demand-infra/certs/service-account-csr.json | cfssljson -bare service-account"

- name: "Copie des certificats et clés privés sur les workers"
  ansible.builtin.copy:
    src: ca.pem master-a-key.pem master-a.pem
    dest: ~/
